<div class="container">
    <div class="row mt-4">
        <div class="col-md-6 col-sm-10 col">
            
            <form [formGroup]="myForm" (ngSubmit)="onSubmit()">

                <div class="mb-3">
                    <label>Please Enter Your Email <span class="link-danger">*</span></label>
                    <input class="form-control form-control-sm" type="email" formControlName="email" [ngClass]="{'is-invalid' : (myForm.controls['email'].touched && myForm.controls['email'].invalid) || (myForm.controls['email'].invalid && formInvalid) }">
                    <span class="invalid-feedback">Please Enter a Valid Email</span>
                </div>

                <div>
                    <button class="btn btn-primary" type="submit">Send Email</button>
                </div>

            </form>

        </div>
    </div>
</div>