.filterItem{
    border-radius: 25px;
}
.filterItem:hover{
    background-color:rgb(220, 53, 69);
}

.clearAll{
    border-radius: 25px;
    color:rgb(220, 53, 69);
}
.clearAll:hover{
    color: black;
}