<div class="container">
    <div class="row mt-4">
        <div class="col-md-6 col-sm-10 col">
            
            <form [formGroup]="resetForm" (ngSubmit)="onSubmit()" >

                <div class="mb-4">
                    <label>Password</label>
                    <input formControlName="password" type="password" class="form-control form-control-sm" placeholder="Please Enter New Password" [ngClass]="{'is-invalid': (resetForm.controls['password'].touched && resetForm.controls['password'].invalid) ||  ( isInvalid && resetForm.controls['password'].invalid)}">
                    <span class="invalid-feedback">Please Enter Valid Password</span>
                </div>

                <div class="mb-4">
                    <label>Confirm Password</label>
                    <input formControlName="confirmPassword" type="confirmPassword" class="form-control form-control-sm" placeholder="Please Enter New Password" [ngClass]="{'is-invalid': (resetForm.controls['confirmPassword'].touched && resetForm.controls['confirmPassword'].invalid) ||  ( isInvalid && resetForm.controls['confirmPassword'].invalid) || (resetForm.controls['password'].dirty && resetForm.controls['confirmPassword'].dirty && resetForm.value.password!=resetForm.value.confirmPassword)}">
                    <span *ngIf=" !resetForm.controls['password'].dirty && ((resetForm.controls['confirmPassword'].touched && resetForm.controls['confirmPassword'].invalid) ||  ( isInvalid && resetForm.controls['confirmPassword'].invalid))" class="invalid-feedback">Please Enter Valid Confirm Password</span>
                    <span *ngIf=" (resetForm.controls['password'].dirty && resetForm.controls['confirmPassword'].dirty && resetForm.value.password!=resetForm.value.confirmPassword)" class="invalid-feedback">Password Not Matched</span>
                </div>

                <div>
                    <button class="btn btn-primary" type="submit">Reset Password</button>
                </div>
            </form>      

        </div>
    </div>
</div>